<section class="user-section">
  <div class="user-profile">
    <% if @user.photo.present? %>
      <%= image_tag('photo.jpg', class: 'img', alt: 'User photo', width: 150, height: 150) %>
    <% else %>
      <%= image_tag('photo.jpg', alt: 'User photo', width: 150, height: 150) %>
    <% end %>
    <div class="user-details">
      <h2 class="username">Username: <%= @user.name %></h2>
      <p class="post-counter">Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>
  <div class="user-wraps">
    <h3 class="secundary-text">Bio</h3>
    <p class="text"><%= @user.bio %></p>
  </div>
  <% unless @user.recent_posts.empty? %>
    <div class="user-posts">
      <% @user.recent_posts.each do |post| %>
        <%= link_to "/users/#{@user.id}/posts/#{post.id}", class: 'user-wraps' do %>
          <h3 class="secundary-text">Post #<%= post.id %> <%= post.title %></h3>
          <p class="text"><%= post.text %></p>
          <span class="post-counter text">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></span>
        <% end %>
      <% end %>
    </div>
  <% else %>
  <% end %>
  <% unless @user.recent_posts.empty? %>
    <%= link_to "See all posts", "/users/#{@user.id}/posts",  class: "btn secundary-text" %>
  <% else %>
  <% end %>
</section>
