<section class="user-section">
  <div class="post">
    <div class='user-wraps'>
      <div class="flex">
        <h3 class="secundary-text">Post #<%= @post.id %> <%= @post.title %></h3>
        <span class="text">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></span>
      </div>
      <p class="text"><%= @post.text %></p>
    </div>
    <% unless @post.comments.empty? %>
      <div class="post-comments"> 
        <p class="text pink">Comments:</p>
          <% @post.comments.each do |comment| %>
            <p class="text"><%= comment.author.name %>: <span class="brown"> <%= comment.text %> </span> </p>
          <% end %>
      </div>
    <% else %>
      <div class="post-comments"> 
        <p class="text pink">Comments:</p>
        <p class="text">There are no comments</p>
      </div>
    <% end %>
  </div>
</section>